/* html {
  height: 100%;
}
body {
  min-height: 100%;
} */
/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */
a {
  color: #0060b6;
  text-decoration: none;
}
.text {
  margin-left: 20px;
  margin-top: 25px;
  align-self: center;
}

.video {
  width: 100%;
  /* margin-top: 20vh; */
  height: 100%;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.video * {
  flex: 1 0 33%;
  /* min-height: 20%;
  max-height: 200px; */
}

.flex-container {
  max-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.videoContainer {
  flex: 10 1 auto;
  height: 100vh;
  align-self: stretch;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-content: center;
  /* align-items: center; */
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
}

.entityType {
  /* margin: auto; */
  margin-left: 10px;
  padding-right: 5px;
  /* max-height: 20%; */
  overflow: hidden;
  overflow-y: scroll;
  clear: both;
}

.grande {
  font-size: 18;
}

.original {
  /* background-color: black; */
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 0.3 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  /* align-self: ; */
}

.toolbar {
  /* background-color: black; */
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: ; */
}

.medicalAnalysis {
  background: #eee;
  width: 50%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start;
  align-content: flex-start; */
  overflow: hidden;
  overflow-y: scroll;
}
.videos {
  flex: 2;
  /* background-color: yellow; */
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* overflow-y: scroll; */
}
.OT_publisher {
  order: 1;
}
.OT_subscriber {
  order: 3;
}
